<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {% block stylesheets %}{% endblock %}
</head>
<body style="padding-top:50px">
{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>