<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}RaceHub{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
<script>
    var baseUrl = '{{ path('acme_web_index') }}'
</script>
{% endblock %}
</body>
</html>